.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: darkgreen;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.navButton {
  background-color: white;
  max-width: 80%;
}

#logo{
  height: 6vh;
}

#logo img{
  height: 100%;
}
