#messageBox {
    min-height: 375px;
    height: 55vh;

    overflow: auto;

    display: flex;
    flex-direction: column-reverse;
}

#messageBox * {
    overflow-anchor: none;
}

#boxAnchor {
    overflow-anchor: auto;
    height: 5px;
}